Loading the basic libs of Python for this assignemnt.

In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import requests
import pandas as pd
import numpy as np
import math
import operator 
from io import StringIO

Part 2 - Implement the k-Nearest Neighbor algorithm in Python using the Euclidean distance metric.

In [2]:
pd.realEstData = pd.read_csv('Sacramentorealestatetransactions.csv', names=['street', 'city', 'zip', 'state', 'beds', 'baths', 'sq_ft', 'type', 'sale_date','price', 'latitude', 'longitude'])

extract the required field to process.

In [3]:
pd.realEstData = pd.realEstData[['street', 'beds', 'baths', 'sq_ft', 'price']]
pd.realEstData = pd.realEstData.iloc[1:]

In [4]:
pd.realEstData.head()

             street beds baths sq_ft  price
1      3526 HIGH ST    2     1   836  59222
2       51 OMAHA CT    3     1  1167  68212
3    2796 BRANCH ST    2     1   796  68880
4  2805 JANETTE WAY    2     1   852  69307
5   6001 MCMAHON DR    2     1   797  81900

In [5]:
pd.realEstData.set_index(['street'])
pd.realEstData = pd.realEstData.iloc[1:]
pd.realEstData.head()

               street beds baths sq_ft  price
2         51 OMAHA CT    3     1  1167  68212
3      2796 BRANCH ST    2     1   796  68880
4    2805 JANETTE WAY    2     1   852  69307
5     6001 MCMAHON DR    2     1   797  81900
6  5828 PEPPERMILL CT    3     1  1122  89921

computing the similarity between the data points

In [ ]:
for i in df["street"]:
    for j in df["street"]:
        row = df[df["street"] == j][["beds", "baths"]]
        latitude = row["beds"].tolist()[0]
        longitude = row["baths"].tolist()[0]
        df.loc[df['street'] == i, j] = ((df["beds"] - latitude)**2 + (df["baths"] - longitude)**2)**0.5
df = df.drop(["street", "beds", "baths"], axis=1)